/**
 * Project - Spot
 */

.spot {

  &__item {
    &:first-child {
      @include col(3, true, "md");
    }

    &:not(:first-child) {
      @include col(2, true, "xs");
      @include col(3, true, "sm");
    }
  }

  &__subImage {
    @include col(9);
    padding: 0;

    @media (min-width: breakpoint("md")) {
      flex: 0 1 50%;
    }
  }

  &__subContent {
    @include col(6);

    @media (min-width: breakpoint("md")) {
      flex: 0 1 27rem;
    }
  }
}
