/**
 * Layout - Main
 */

.main {
  min-height: 100vh;
   
  &__container {
    & > .postItem {
      @include col(6, "md");
      @include col(8, "lg");
    }

    & > .sidebar {
      @include col(3, "md");
      
      &__inner {
        @media (min-width: breakpoint()) {
          width: 18rem;
          margin-left: auto;
          margin-right: 0;
        }
      }
    }
  }
}
