<!-- wp:template-part {"slug":"header","tagName":"header","className":"header"} /-->

<!-- wp:group {"tagName":"main","className":"main"} -->
<main class="wp-block-group main"><!-- wp:template-part {"slug":"section-hero","tagName":"section","className":"hero"} /-->

<!-- wp:template-part {"slug":"section-news","tagName":"section","className":"news"} /-->

<!-- wp:template-part {"slug":"section-project","tagName":"section","className":"project"} /-->

<!-- wp:template-part {"slug":"section-activity","tagName":"section","className":"activity"} /-->

<!-- wp:template-part {"slug":"section-spot","tagName":"section","className":"spot"} /-->

<!-- wp:template-part {"slug":"section-movie","tagName":"section","className":"movie"} /-->

<!-- wp:template-part {"slug":"section-access","tagName":"section","className":"access"} /-->

<!-- wp:template-part {"slug":"section-contact","tagName":"section","className":"contact"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->